.image {
  @media (max-width: #{$breakpoint-tablet - 1px}){
    width:48px;
    height:48px;
    padding:1px;
    margin:1px;
  }
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}){
    width:72px;
    height:72px;
    padding:2px;
    margin:2px;
  }
  @media (min-width: #{$breakpoint-desktop}){
    width:106px;
    height:106px;
    padding:2px;
    margin:2px;
  }
  border:1px solid #888888;
  border-radius: 4px;
}