ul.deck {
    position:absolute;
    list-style-type: none;
    display: inline-block;
    li {
        display: inline-block;
        width:100px;
    }
    div.deckSlot {

        div.main {
            background-color: red;
        }
        div.unison {
            background-color: yellow;
        }
        div.equipment {
            background-color: green;
        }
        div.soul{
            background-color: blue;
        }
    }
}