$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
.imageContainer {
  background-image: url("/background/5.png");
  background-size: contain;
  border:1px solid #888888;
  border-radius: 4px;
  position:relative;
  vertical-align: middle;
  display: inline-block;
  margin:2px;
  @media (max-width: #{$breakpoint-tablet - 1px}){
    width:48px;
    height:48px;
    padding:1px;
  }
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}){
    width:72px;
    height:72px;
    padding:2px;
  }
  @media (min-width: #{$breakpoint-desktop}){
    width:106px;
    height:106px;
    padding:2px;
  }
}
.image {
  position:absolute;
  width:auto;
  height:75%;
  margin: auto;
  top:0px; left:0px; right:0px; bottom:0px;
}