.modalWrap{
    position:fixed;
    display:none;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    overflow:auto;
    background-color: rgba(0, 0, 0, 0.6);
}
.modalWrap.visible {
    display:block;
}
.modalMain {
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    position: absolute;
    display: inline-block;
    height: 90%;
}
.modalBody {
    height: calc(100% - 75px);
    overflow-y: scroll;
    position: relative;
    display: block;
    padding: 5px 8px 5px 8px;
    text-align: center;
    line-height: 0px;
    box-sizing: border-box;
}
.conditionDiv {
    width: calc(100% - 3%);
    height: 70px;
    //margin:1.5%;
    padding:1.5%;
    //border:1px solid black;
    box-sizing: border-box;
    div {
        position:relative;
        display: inline-block;
        &:nth-child(1) div{
            padding-top:4px;
        }
        
    }
    >div:nth-child(2){
        float:right;
    }
}
.closeButton{
}